EIO:CFG_1.0:6:1::
 	  
#
EIO_CROSS:

      -Name "cross_sdiWeldInhib" -Res "sdiWeldInhib" -Act1 "sdoWeldInhib"
	
      -Name "cross_sdiWeaveInhib" -Res "sdiWeaveInhib" -Act1 "sdoWeaveInhib"
	  
      -Name "cross_sdiTrackInhib" -Res "sdiTrackInhib" -Act1 "sdoTrackInhib"
	  	  
#
EIO_SIGNAL:

	-Name "sdiWeldInhib" -SignalType "DI"\
	-Access "All" -Category "VirtualArc"	
    	  
	-Name "sdiWeaveInhib" -SignalType "DI"\
	-Access "All" -Category "VirtualArc"	
    	  
	-Name "sdiTrackInhib" -SignalType "DI"\
	-Access "All" -Category "VirtualArc"	

		
	-Name "sdoVirtualController" -SignalType "DO"
	
	-Name "sdoWeldInhib" -SignalType "DO"\
	-Access "All" -Category "VirtualArc"
	
	-Name "sdoWeaveInhib" -SignalType "DO"\
	-Access "All" -Category "VirtualArc"		  
		
	-Name "sdoTrackInhib" -SignalType "DO"\
	-Access "All" -Category "VirtualArc"
	